body
{
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid  rgb(0, 114, 221);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
